

  
  
  
<header class="header shop">

    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
            <!-- Top Left -->
            <div class="top-left">
              <ul class="list-main">
                <li><i class="ti-headphone-alt"></i> +212-691411991</li>
                <li><i class="ti-email"></i> meriem.broderie@gmail.com</li>
              </ul>
            </div>
            <!--/ End Top Left -->
          </div>
          <div class="col-lg-8 col-md-12 col-12">
            <!-- Top Right -->
            <div class="right-content">
              <ul class="list-main">
                <li><i class="ti-location-pin"></i><a routerLink="/contact"> Store location</a></li>
                <li><i class="ti-power-off"></i><a routerLink="/login">Login</a></li>
              </ul>
            </div>
            <!-- End Top Right -->
          </div>
        </div>
      </div>
    </div>
  	<!-- Header -->
		<!-- Topbar -->
		
		<!-- End Topbar -->
		
		<!--/ End Header Inner -->
	</header>    
    <router-outlet></router-outlet>
    <section class="shop-services section home">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Start Single Service -->
                  <div class="single-service">
                      <i class="ti-rocket"></i>
                      <h4>Free shiping</h4>
                      <p>All Products</p>
                  </div>
                  <!-- End Single Service -->
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Start Single Service -->
                  <div class="single-service">
                      <i class="ti-reload"></i>
                      <h4>Free Return</h4>
                      <p>Within 30 days returns</p>
                  </div>
                  <!-- End Single Service -->
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Start Single Service -->
                  <div class="single-service">
                      <i class="ti-lock"></i>
                      <h4>Payment</h4>
                      <p>Cash on delivery</p>
                  </div>
                  <!-- End Single Service -->
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Start Single Service -->
                  <div class="single-service">
                      <i class="ti-tag"></i>
                      <h4>Best Piece</h4>
                      <p>Guaranteed price</p>
                  </div>
                  <!-- End Single Service -->
              </div>
          </div>
      </div>
    </section>
    <footer class="footer">
      <!-- Footer Top -->
      <div class="footer-top section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-6 col-12">
                      <!-- Single Widget -->
                      <div class="single-footer about">
                          
                          <p class="text">I am ELhadi Meriem, Embroidery is my passion, that's why I made this project in Angular to show my work </p>
                          <p class="call">Got Question? Call us 24/7<span><a href="tel:+212691411991">+212 691 411 991</a></span></p>
                      </div>
                      <!-- End Single Widget -->
                  </div>
                  <div class="col-lg-2 col-md-6 col-12">
                      <!-- Single Widget -->
                      <div class="single-footer links">
                          <h4>Information</h4>
                          <ul>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Faq</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                              <li><a href="#">Contact Us</a></li>
                              <li><a href="#">Help</a></li>
                          </ul>
                      </div>
                      <!-- End Single Widget -->
                  </div>
                  <div class="col-lg-2 col-md-6 col-12">
                      <!-- Single Widget -->
                      <div class="single-footer links">
                          <h4>Customer Service</h4>
                          <ul>
                              <li><a href="#">Cash on delivery</a></li>
                              <li><a href="#">Money-back</a></li>
                              <li><a href="#">Returns</a></li>
                              <li><a href="#">Shipping</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                          </ul>
                      </div>
                      <!-- End Single Widget -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                      <!-- Single Widget -->
                      <div class="single-footer social">
                          <h4>Get In Tuch</h4>
                          <!-- Single Widget -->
                          <div class="contact">
                              <ul>
                                  <li>NO. 342 - Sedri Street.</li>
                                  <li>012 Morocco.</li>
                                  <li>meriem.broderie@gmail.com</li>
                                  <li>+212691411991</li>
                              </ul>
                          </div>
                          <!-- End Single Widget -->
                          <ul>
                              <li><a href="#"><i class="ti-facebook"></i></a></li>
                              <li><a href="#"><i class="ti-twitter"></i></a></li>
                              <li><a href="#"><i class="ti-flickr"></i></a></li>
                              <li><a href="#"><i class="ti-instagram"></i></a></li>
                          </ul>
                      </div>
                      <!-- End Single Widget -->
                  </div>
              </div>
          </div>
      </div>
      <!-- End Footer Top -->
     
    </footer>