


<header class="header shop">
	<div class="header-inner">
	  <div class="container">
		<div class="cat-nav-head">
		  <div class="row">
  
  <div class="col-lg-9 col-12">
	<div class="menu-area">
	  <!-- Main Menu -->
	  <nav class="navbar navbar-expand-lg">
		<div class="navbar-collapse">	
		  <div class="nav-inner">	
			<ul class="nav main-menu menu navbar-nav">
				<li ><a class="clickable" (click)="onSelectedProducts()">Home</a></li>
				<li><a class="clickable" (click)="onProductsPromo()">Promotion</a></li>												
				<li><a class="clickable" (click)="onProductsDispo()">Disponibles</a></li>
				<li><a href="#">Blog<i class="ti-angle-down"></i><span class="new">New</span></a></li>
				<li ><a routerLink="/login">Card </a></li>									
				<li><a routerLink="/contact">Contact Us</a></li>
				  
			  </ul>
		  </div>
		</div>
	  </nav>
	  <!--/ End Main Menu -->	
	</div>
  </div>
		  </div>
		</div>
	  </div>
	</div>
  </header>

















<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets/images/" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="username" ngModel class="form-control input_user" value="" placeholder="username">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password"  name="password" ngModel class="form-control input_pass" value="" placeholder="password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
            <div class="d-flex justify-content-center mt-3 login_container">
         <button  type="submit" name="button" class="btn login_btn">Login</button>
         </div>
        </form>
      </div>
  
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a href="#" class="ml-2">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>

